<ion-view hide-nav-bar="true" view-title="Login Page">
    <div class="loginpage">
        <ion-content class="padding">
            <div class="padlogin">
                <div class="card logo">
                    <p class="text-center"> <img width="80%" height="auto" class="logo-center" src="img/logo.png"></p>
                </div>
                <div class="card">
                    <div class="item item-text-wrap email text-center" ng-click="login()">
                        Login with Email
                    </div>
                </div>
            </div>
        </ion-content>
        <div class="tabs">
            <p>It means that you accepted the Privacy Policy.</p>
        </div>
    </div>
</ion-view>