<ion-view view-title="Marketplace">
    <ion-content class="headerup">
        <div class="slidemarket">
            <ion-slide-box does-continue="true" show-pager="true" auto-play="true">
                <ion-slide>
                    <div class="img1" style="background-image:url('../img/cover.jpg');"></div>
                </ion-slide>
                <ion-slide>
                    <div class="img1" style="background-image:url('../img/cover.jpg');"></div>
                </ion-slide>
                <ion-slide>
                    <div class="img1" style="background-image:url('../img/cover.jpg');"></div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="list card button-full delmargin autoheight">

            <div class="item item-divider">
                The Apps We Picked
            </div>

            <div class="item item-body">
                <ion-slide-box does-continue="false" show-pager="false" auto-play="false">
                    <ion-slide ng-repeat="rows in chunkedData">
                        <div class="addgrid" ng-repeat="game in rows" ng-click="gameModule(game)">
                            <img src="{{game.logo}}">

                            <h3 class="text-center">{{game.name}}</h3>


                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>

        <div class="list card button-full delmargin autoheight">

            <div class="item item-divider">
                The Apps User Love
            </div>

            <div class="item item-body">
                <ion-slide-box does-continue="false" show-pager="false" auto-play="false">
                    <ion-slide ng-repeat="rows in chunkedData">
                        <div class="addgrid" ng-repeat="game in rows" ng-click="gameModule(game)">
                            <img src="{{ game.logo }}">
                            <h3 class="text-center">{{game.name}}</h3>


                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="freeplus"></div>
    </ion-content>
    <div class="tabs upper">
        <a class="tab-item" href="#/tab/adddel">
            Marketplace
        </a>
        <a class="tab-item" href="#/tab/myapps">
            MyApps
        </a>
    </div>
</ion-view>
