<ion-view view-title="Statistics">
  <ion-content class="padding headerup">
    <h2 class="text-center">Hi {{info.name}}!</h2>
    <h3 class="text-center">Your Child {{info.child}} Statistics</h3>
    <div class="list card">
      <div class="item item-divider">
        Total Playing
      </div>
      <div class="ct-chart ct-golden-section" id="chart1"></div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Day by day playing stats
      </div>
      <div class="ct-chart ct-golden-section" id="chart2"></div>
    </div>
    <div class="freebox"></div>
  </ion-content>
</ion-view>
