<ion-view view-title="Cookbook for Parents">
  <ion-content class="headerup">
    <div class="item item-divider">
      About Autism
    </div>
    <ion-list>
      <ion-item class=" item-icon-right" type="item-text-wrap" ng-click="wikiGo('nedir')">
        <h2>Otizm Nedir?</h2>
        <p>Otizm ogrenme bozuklugu olan ve nedeni halen ...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" ng-click="wikiGo('neden')">
        <h2>Neden Ipadle Egitim?</h2>
        <p>Amerikada yapilan bir arastirma ozellikle ...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" ng-click="wikiGo('nasýl')">
        <h2>Nasil Kullaniriz?</h2>
        <p>Sistemde gordugunuz istatistik sistemi ve wiki saye...</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="item item-divider">
        Self Learning Game Instructions
      </div>

      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Matching Items Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Matching Colors Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Choose The One Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
