<ion-view view-title="Cookbook for Adults">
  <ion-content class="headerup">
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="page in wikis" type="item-text-wrap" href="#/tab/wiki/{{page.id}}">
        <h2>{{page.name}}</h2>
        <p>{{page.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(page)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
