<ion-view view-title="Cookbook for Parents">
  <ion-content class="headerup">
    <div class="item item-divider">
      About Autism
    </div>
    <ion-list>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Page Name</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Page Name</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Page Name</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="item item-divider">
        Self Learning Game Instructions
      </div>

      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Matching Items Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Matching Colors Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class=" item-icon-right" type="item-text-wrap" href="#/tab/wiki/id">
        <h2>Choose The One Instruction</h2>
        <p>kisa ozet</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
